<%- include('../partials/head') %>

<div class="container">
    <h1>Sign Up</h1>
    <form action="/auth/sign-up" method="POST">
        <label>Username:</label>
        <input type="text" name="username" required>

        <label>Password:</label>
        <input type="password" name="password" required>

        <label>Confirm Password:</label>
        <input type="password" name="confirmPassword" required>

        <button type="submit" class="btn btn-primary">Sign Up</button>
        <p><%= msg %></p>
    </form>
</div>

<%- include('../partials/footer') %>